.trans {
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
}

.trans:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mail {
  transform: scale(1.1);
  transition: transform 0.32s ease-out;
}

.mail:hover {
  transform: scale(1.23);
}

.lin {
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
}

.lin:hover {
  transform: scale(1.03);
}

.bt {
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
}

.bt:hover {
  transform: scale(0.94);
}

.txt {
  font-family: "Exo 2", sans-serif;
}
