.hov {
  float: right;
  text-decoration: none;
  transform: scale(1.02);
  transition: transform 0.3s ease-out;
}

.hov:hover {
  transform: translate(5px);
}

.tr{
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
}

.tr:hover {
  transform: rotate(-75deg);
}
